<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="STRM Browser">
        <setting id="strm_folder1" type="folder" label=".STRM Directory #1" help="Folder containing your .strm files for browsing" default="" />
        <setting id="strm_folder2" type="folder" label=".STRM Directory #2" default="" visible="!eq(-1,)" />
        <setting id="strm_folder3" type="folder" label=".STRM Directory #3" default="" visible="!eq(-1,)" />
        <setting id="strm_folder4" type="folder" label=".STRM Directory #4" default="" visible="!eq(-1,)" />
        <setting id="strm_folder5" type="folder" label=".STRM Directory #5" default="" visible="!eq(-1,)" />
    </category>
    <category label="STRM Creator">
        <setting id="strm_output_uhd" type="folder" label="UHD Series STRM Output" help="Folder where UHD series .strm files are saved" default="" />
        <setting id="strm_output_bd" type="folder" label="BD Series STRM Output" help="Folder where Blu-ray series .strm files are saved" default="" />
        <setting id="show_notifications" type="bool" label="Show notifications" help="Display notifications during STRM creation" default="true" />
    </category>
</settings>
